.header-top svg, .header-top image{
    width: 82px;
    height: 48px;
}
.header-top__title{
    font-size: 4.8rem;
}
.exchange__table{
    width: 400px;
}
.benefits__title{
    font-size: 4rem;
}
.benefits__description{
    font-size: 2rem;
}
.know-more-container h2{
    font-size: 4rem;
}
.know-more-container img{
    width: 320px;
}