*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --bold: 700;
    --medium: 500;
    --normal: 400;
    --light: 300;
    --x-large: 2.4rem;
    --large: 1.8rem;
    --medium: 1.6rem;
    --normal: 1.4rem;
    --small: 1.2rem;
    --x-small: 0.8rem;
    --primary-bg: linear-gradient(45deg, #F7931A, #201E1C);
    --secondary-bg: #201E1C;
    --primary-color: #F7931A;
    --secondary-color: #FF9536;
    --soft-color: #FFE9D4;
    --text-main-color-dark: #201E1C;
    --text-secondary-color-dark: #757575;
    --text-color-lighter-dark: #B5B0AC;
    --text-main-color-light: #FFFFFF;
    --text-secondary-color-light: #808080;
    font-size: 62.5%;
}
header{
    background: var(--primary-bg);
    height: 295px;
    padding: 42px 16px 0px;
    position: relative;
}
.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}
.header-top__title{
    font-size: var(--x-large);
    font-weight: var(--bold);
    color: var(--primary-color);
    font-family: var(--primary-font);
    margin-left: 10px;
}
.header-bottom{
    text-align: center;
    position: relative;

}
.header-bottom__slogan{
    font-size: var(--x-large);
    font-weight: var(--bold);
    color: var(--text-main-color-light);
    font-family: var(--primary-font);
    line-height: 26px;
    margin-bottom: 24px;
}
.header-bottom__description{
    font-size: var(--normal);
    font-weight: var(--medium);
    color: var(--soft-color);
    font-family: var(--primary-font);
}
.header__button{
    font-size: var(--normal);
    font-weight: var(--bold);
    color: var(--text-main-color-dark);
    font-family: var(--primary-font);
    width: 229px;
    height: 48px;
    background: #FAF8F7;
    border: none;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
    /* This percentage is calculated based on the parent */
    left: 50%;
    /* Whereas the percentages below are calculated based on the own widht and height  */
    transform: translate(-50%, 50%);
    cursor: pointer;
}
.header__button::after{
  content: url("../assets/arrow-down.svg");
  margin-left: 14px;
}
